[package]
name = "xwt-wtransport"
version = "0.4.0"
edition = "2021"
resolver = "2"
license = "MIT"
description = """
An implementation of the xwt that runs natively via wtransport crate.
"""
repository = "https://github.com/MOZGIII/xwt"

[target.'cfg(not(target_family = "wasm"))'.dependencies]
xwt-core = { version = "0.2.2", path = "../xwt-core", default-features = false }

wtransport = { version = "0.1.12", default-features = false }

[target.'cfg(not(target_family = "wasm"))'.dev-dependencies]
xwt-cert-fingerprint = { version = "0.1", path = "../xwt-cert-fingerprint" }
xwt-test-assets = { version = "0.1.2", path = "../xwt-test-assets" }
xwt-tests = { version = "0.4.3", path = "../xwt-tests" }

anyhow = "1"
color-eyre = "0.6"
tokio = { version = "1", features = ["macros"] }
tracing = "0.1"
tracing-subscriber = "0.3"
